# DICT

In [ ]:
Dictionary is a mutable data type in Python.
A python dictionary is a collection of key and value pairs separated by a colon (:)
in curly braces {}.
Keys must be unique in a dictionary, duplicate values are allowed

# Create Dictionary

In [5]:
mydict=dict() #empty dictionary
mydict

{}

In [7]:
mydict = {1:'one' , 2:'two' , 3:'three'} # dictionary with integer keys{}
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [9]:
mydict=({1:'one' , 2:'two' , 3:'three'}) # # dictionary using dict()
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [11]:
mydict = {'A':'one' , 'B':'two' , 'C':'three'} # dictionary with character keys
mydict

{'A': 'one', 'B': 'two', 'C': 'three'}

In [13]:
mydict.keys() #  Return Dictionary Keys using keys() method

dict_keys(['A', 'B', 'C'])

In [15]:
mydict.values() ## Return Dictionary Values using values() method

dict_values(['one', 'two', 'three'])

In [17]:
mydict.items()

dict_items([('A', 'one'), ('B', 'two'), ('C', 'three')])

In [25]:
mydict= {'A':'one' , 'B':'two' ,'C':'three', 'D':['ram','sita','govind'],'e': ('sita','raghu','shashank')}
mydict

## dict with mix of list elements and tuple elements

{'A': 'one',
 'B': 'two',
 'C': 'three',
 'D': ['ram', 'sita', 'govind'],
 'e': ('sita', 'raghu', 'shashank')}

In [27]:
keys = {'a' , 'b' , 'c' , 'd'}
mydict3 = dict.fromkeys(keys) # Create a dictionary from a sequence of keys
mydict3

{'a': None, 'c': None, 'b': None, 'd': None}

In [31]:
keys = {'a' , 'b' , 'c' , 'd'} ## Create a dictionary from a sequence of keys
value = 10
mydict3 = dict.fromkeys(keys , value)
mydict3

{'a': 10, 'c': 10, 'b': 10, 'd': 10}

In [33]:
keys = {'a' , 'b' , 'c' , 'd'}
value = [10,20,30]
mydict3 = dict.fromkeys(keys , value) # Create a dictionary from a sequence of
mydict3

{'a': [10, 20, 30], 'c': [10, 20, 30], 'b': [10, 20, 30], 'd': [10, 20, 30]}

In [35]:
value.append(40)
mydict3

{'a': [10, 20, 30, 40],
 'c': [10, 20, 30, 40],
 'b': [10, 20, 30, 40],
 'd': [10, 20, 30, 40]}

In [37]:
mydict

{'A': 'one',
 'B': 'two',
 'C': 'three',
 'D': ['ram', 'sita', 'govind'],
 'e': ('sita', 'raghu', 'shashank')}

In [41]:
mydict2={1:'one' , 2:'two' , 3:'three' , 4:'four'}
mydict2

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [43]:
mydict2[1]

'one'

In [45]:
mydict2.get(1)

'one'

In [47]:
mydict3 = {'Name':'Asif' , 'ID': 74123 , 'DOB': 1991 , 'job' :'Analyst'}
mydict3

{'Name': 'Asif', 'ID': 74123, 'DOB': 1991, 'job': 'Analyst'}

In [53]:
mydict3['Name'] #access item using []

'Asif'

In [57]:
mydict3.get('job') ## Access item using get() method

'Analyst'

# ADD , REMOVE & CHANGE ITEMS

In [91]:
mydict3={'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'}
mydict3

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [93]:
mydict3['DOB'] = 1992 # Changing Dictionary Items
mydict3['Address'] = 'Delhi'
mydict3

{'Name': 'Asif', 'ID': 12345, 'DOB': 1992, 'Address': 'Delhi'}

In [95]:
mydict3['Job'] = 'Analyst' # Adding items in the dictionary
mydict3

{'Name': 'Asif',
 'ID': 12345,
 'DOB': 1992,
 'Address': 'Delhi',
 'Job': 'Analyst'}

In [109]:
mydict3

{'Name': 'Asif', 'ID': 12345, 'DOB': 1992, 'Address': 'Delhi'}

In [111]:
mydict3.pop('Address') 
mydict3

{'Name': 'Asif', 'ID': 12345, 'DOB': 1992}

In [113]:
mydict3

{'Name': 'Asif', 'ID': 12345, 'DOB': 1992}

In [117]:
mydict3.popitem() ## A random item is removed
mydict3

{'Name': 'Asif', 'ID': 12345}

In [119]:
mydict3

{'Name': 'Asif', 'ID': 12345}

In [121]:
del mydict3

In [123]:
mydict3

NameError: name 'mydict3' is not defined

## COPY DICTIONARY

In [126]:
mydict8 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'}
mydict8

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [128]:
mydict9=mydict8
mydict9

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [130]:
id(mydict8),id(mydict9) # The address of both mydict & mydict1 will be the same

(5497624448, 5497624448)

In [132]:
mydict6=mydict8.copy()

In [134]:
mydict6

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [136]:
id(mydict6),id(mydict8) ## The address of mydict6 will be different from mydict8 because copy

(5497687232, 5497624448)

In [138]:
mydict8['Address']='Mumbai'
mydict8

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}

In [140]:
mydict9

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}

In [142]:
mydict6 ## Copy of list won't be impacted due to the changes made in the original di

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

## LOOP IN DICT

In [147]:
mydict8

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}

In [149]:
for i in mydict8:    #key 
    print(i)

Name
ID
DOB
Address

In [153]:
for i in mydict8:   ## Key & value pair
    print(i,':',mydict8[i])

Name : Asif
ID : 12345
DOB : 1991
Address : Mumbai

In [157]:
for i in mydict8:     #returns only values 
    print(mydict8[i])

Asif
12345
1991
Mumbai

# DICTIONARY MEMBERSHIP

In [160]:
mydict8

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}

In [162]:
'Name' in mydict8 #Test if a key is in a dictionary or not.

True

In [164]:
'Asif' in mydict8 #Membership test can be only done for keys.

False

In [166]:
'ID' in mydict8

True

In [168]:
'Job' in mydict8

False

# All/Any

In [171]:
mydict8

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}

In [177]:
all(mydict8)

True